path {
    stroke: black;
    stroke-width: 3px;
    fill: none;
}

.line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.axis.y {
    fill: darkgoldenrod;
    transform: rotate(-90deg);
    text-anchor: end;
    font-size: 12px;
}

.axisLines {
    fill: darkgoldenrod;
}

.header {
    color: cadetblue;
    text-align: center;
}

.button {
    border-radius: 4px;
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.buttonContainer {
    text-align: center;
}