path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.line {
    stroke: coral;
    stroke-width: 2px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}