path {
    stroke: black;
    stroke-width: 3px;
    fill: none;
}

.line {
    stroke: steelblue;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.axis.y {
    fill: darkgoldenrod;
    transform: rotate(-90deg);
    text-anchor: end;
    font-size: 12px;
}

.axisLines {
    fill: darkgoldenrod;
}

.header {
    color: cadetblue;
    text-align: center;
}

.button {
    border-radius: 4px;
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
}

.buttonContainer {
    text-align: center;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 70px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.dot {
    fill: blue;
}